# Ignore node_modules
/node_modules
/extension/ay-pi/node_modules

# Environment variables
/.env

# Telemetry
/ay-pi.telemetry.*

# Build artifacts
/dist
/build
/.DS_Store

ay-pi.debug.log
src/.DS_Store
